@font-face {
    font-family: "ProximaNovaSoft-Bold";
    src: url("./assets/fonts/ProximaNovaSoft-Bold.ttf");
}

@font-face {
    font-family: "ProximaNovaSoft-Medium";
    src: url("./assets/fonts/ProximaNovaSoft-Medium.ttf");
}

@font-face {
    font-family: "ProximaNovaSoft-Regular";
    src: url("./assets/fonts/ProximaNovaSoft-Regular.ttf");
}

@font-face {
    font-family: "ProximaNovaSoft-Semibold";
    src: url("./assets/fonts/ProximaNovaSoft-Semibold.ttf");
}