@import './_fonts.scss';
@import './_reset.scss';

* {
    font-family: 'ProximaNovaSoft-Medium'!important;
}

h1 {
    font-family: 'ProximaNovaSoft-Bold'!important;
}

.v-btn {
    font-family: 'ProximaNovaSoft-Semibold'!important;
}